*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgba(230,230,230);
}

.header{
  padding: 15px 0; 
  background-color: white;
  border-bottom: 2px solid rgba(220,220,220);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.center{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 2%;
  max-width: 1100px;
}

.header__logo{
  position: relative;
  margin-right: 15%;
  width: 30%; 
  color: black;
  text-decoration: none;
}

.header__loginForm form{
  display: inline-block;
}

.header__loginForm input[type=text],
.header__loginForm input[type=password]{
  width: 130px;
  margin-right: 5px;
  height: 20px;
  border: 1px solid #ccc;
  padding-left: 10px;
  border-radius: 10px;
  
}

.header__loginForm input[type=submit]{
  background-color: #0095f6;
  color: white;
  border: 0;
  height: 25px;
  padding: 0px 10px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 13px;
}

.header__loginForm input[type=submit]:hover{
  background-color: #7acbff;
  color:black;
}

.btn__criarConta{
  display: inline-block;
}

.btn__criarConta a{
 font-size: 14px;
 margin: 0 10px;
 text-decoration: none;
 color: #0095f6;
}

.btn__criarConta a:hover{
color: red;
text-decoration: underline;



}

.header__logoInfo{
  text-align: right;
  width: 50%;
}

.header__logoInfo a{
  margin: 0 10px;
  background-color: #0095f6;
  color: white;
  text-decoration: none;
  padding: 3px 10px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 14px;
}

.header__logoInfo a:hover{
  background-color: #7acbff;
  color:black;
}


.modalCriarConta{
  display:none;
  position: fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.5);
  
}

.formCriarConta{
  position: absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  background-color: white;
  padding: 20px;
  width:80%;
  max-width:700px;
  text-align: center;
  border-radius: 20px;
}

h2{
  margin-bottom:10px;
  /* border-bottom:1px solid black;  #7acbff */
}

.formCriarConta input{
  width:100%;
  height: 30px;
  margin-bottom:10px;
  padding-left:10px;
  border:1px solid #ccc;
  border-radius: 20px;
}

.formCriarConta input[type=submit]{
  background-color: #0095f6;
  cursor:pointer;
  color:white;
}

.formCriarConta input[type=submit]:hover{
  background-color: #7acbff;
  color:black;
}


.closeModalCriar{
  position: absolute;
  right: 10px;
  top:5px;
  cursor:pointer;
  width:30px;
  text-align: center;
  color:white;
  line-height: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #0095f6;
}

.closeModalCriar:hover{
  background-color: #7acbff;
  color:black;
}

.deslogar{
  cursor:pointer;
  text-align: center;
  line-height: 20px;
  background-color: red;
  border-radius: 20px;
  width: 17%;
  padding: 2px;
  color: white;
  font-weight: 900;
  border:0;
}

.deslogar:hover{
  background-color: #ff8383;
  color:black;
}

.modalUpload{
  display:none;
  position: fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.5);
  
}

.formUpload{
  position: absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  background-color: white;
  padding: 20px;
  width:80%;
  max-width:700px;
  text-align: center;
  border-radius: 20px;
}

.formUpload input{
  width:100%;
  height: 30px;
  margin-bottom:10px;
  padding-left:10px;
  border:1px solid #ccc;
  border-radius: 20px;
}

.formUpload input[type=submit]{
  background-color: #0095f6;
  cursor:pointer;
  color:white;
}

.formCriarConta input[type=submit]:hover{
  background-color: #7acbff;
  color:black;
}


.closeModalCriar{
  position: absolute;
  right: 10px;
  top:5px;
  cursor:pointer;
  width:30px;
  text-align: center;
  color:white;
  line-height: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #0095f6;
}

.postSingle{
  padding-bottom: 40px;
  background-color: white;
  max-width: 700px;
  margin:10px auto;
}

.postSingle img{
  width:100%;
}

.postSingle p{
  padding:10px;
}

.postSingle form{
  padding:20px;
}

.postSingle textarea{
  width: 100%;
  height:120px;
  border:1px solid #ccc;
  resize: none;
  border-radius: 20px;
  padding-left: 10px;
  font-size: 20px;
  margin-bottom: 10px;
}

.postSingle input[type=submit]{
  background-color: #0095f6;
  cursor: pointer;
  border:0;
  padding:8px 10px;
  color:white;
  border-radius: 20px;
}

.postSingle input[type=submit]:hover{
  background-color: #7acbff;
  color:black; 
}

.parageafoPost,
.tituloPost{
  margin-left: 20px;
}

.coments{
  margin-left: 20px;
}

.coments h2,
.tituloPost{
  color: red;
  padding: 8px 0;
}

.coment-single{
   font-size: 14px;
}

.footer{
  bottom:0;
  width:100%;
  background-color:white;
  color: black;
  padding:40px;
/*   justify-content: center;
  text-align:center;  */
}


.h3{
 padding-bottom: 15px;
 text-align: center;
 border-bottom: 1px solid black;

}

.teste{
  margin: 0 20%;
}

.footer p{
  margin-top: 25px;
  text-align: center;
}

.linkDiv{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
  font-size: 14px;
}

.link{
  text-decoration: none;
  background-color: #0095f6;
  padding: 8px;
  color: white;
  border-radius: 20px;
  border: 0;
  margin-left: 1%;
}

.link:hover{
  background-color: #7acbff;
  color:black;
}

.btnExcluir{
  margin-left: 10px;
  padding: 7px;
  border: 0;
  border-radius: 20px;
  background-color: red;
  color: white;
  cursor: pointer;
}

.btnExcluir:hover{
  background-color: #ff8383;
  color:black;
}

.divPost{
  display: flex;
  
}

.btnExcluirPost{
  margin-left: 10px;
  margin-top: 13px;
  height: 20px;
  background-color: red;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  width: 90px;
  height: 28px;
  border: 0;
}

.btnExcluirPost:hover{
  background-color: #ff8383;
  color:black;
}

@media screen and (max-width:768px){
  .deslogar{
    width: 40%;
  }

  .footer{
    bottom:0;
    width:100%;
    background-color:white;
    color: black;
    padding:20px;
  }

  .linkDiv{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
  }

  .link{
    margin-top: 10px;
    width: 100%;
    justify-content: center;

  }

  .teste{
    margin: 0 5%;
  }

  .footer p{
    text-align: center;
  }

}